.cart-product-div{
    display: flex;
    justify-content: space-between ;
    width: 100%;
}
.cart-img-and-title{
    display: flex;
    width: 40%;
}
.cart-details{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.product-img-cart{
    height: 100px;
    width: 60px;
}
.cart-trash{
    cursor: pointer;
}